body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f4eae084;
    font-family: 'Roboto', sans-serif;
}
.todo-app{
    background-color: #F4EAE0;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    min-height: 50vh;
}
.todo-app h2{
    text-align: center;
}
.divider{
    position: relative;
    top: 20px;
    border: none;
    height: 1px;
    background: black;
    margin-bottom: 50px;
    border-top: 3px double #8c8b8b;
    width: 100%;
}
#userInput{
    margin: 0px 0px 0px 250px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
#addBtn{
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FAF6F0;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #B0A695; 
    cursor: pointer;
}
#addBtn:hover{
    background-color: #EBE3D5;
}   
#deleteBtn{
    margin-left: 15px;
    background: transparent;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding-right: 15px;
    outline: none;
    border: none;
}
#deleteBtn:hover{
    background-color: #EBE3D5;
}
#deleteBtn img{
    width: 15px;
    height: 20px;
}
.todoList{
    padding-top: 30px;
}
.todoItem{
    background-color: #EADBC8;
    margin-right: 30px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 30px 10px 20px;
    font-weight: bolder;
}
#checkbox{
    margin-right: 20px;
    cursor: pointer;
    height: 18px;
    width: 18px;

}
.completed{
    text-decoration: line-through;
}